<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>RAVE</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
    <style>
        body {
            padding: 2rem;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>RAVE (REST API Very Epic) </h1>
    <h3>404 Page Not Found</h3>
    <p>
    Contact us at <a href="mailto:mail@foo.bar">mail@foo.bar</a> or read the <a href="/v1">documentation</a>.
    </p>
</body>
</html>
